# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.production

# Expo
.expo/
dist/
web-build/

# OS
.DS_Store
Thumbs.db

# Uploads
backend/src/uploads/*
!backend/src/uploads/.gitkeep
